.category_wrapper {
    padding: 10px;
    width: 36%;
    .category {
        border: 2px solid #dadada;
        margin: 10px 0;
        img {
            width: 165px;
            display: inline-block;
        }
        .pet_details {
            padding: 20px;
            display: inline-block;
            vertical-align: top;
            div {
                padding: 5px 0;
            }
        }
    }
    .add_inventory {
        input {
            display: block;
            width: 184px;
            height: 30px;
            margin: 5px 2px;
            padding: 4px;
        }
        button {
            width: 184px;
            height: 30px;
            font-size: 14px;
        }
    }
}